{% extends 'base.html.twig' %}

{% block title %}Famille{% endblock %}
{% block Montitre %}Pages listant les continents{% endblock %}

{% block body %}

<h2>toto page index de continents</h2>
{% endblock %}